.gradle
/build/
!gradle/wrapper/gradle-wrapper.jar
*.class
bin/main/application.yaml

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
/out
*.iws
*.iml
*.ipr

.DS_Store

applicationinsights-agent-*.jar
*.log
bin/.local-dm-store-stub.pid
bin/.local-dm-store-stub.log
bin/.local-dm-store-data/
bin/.xui-manage-batches-proxy.pid
bin/.xui-manage-batches-proxy.log
bin/.design-docs.pid
bin/.design-docs.log
bin/.tech-docs.pid
bin/.tech-docs.log
bin/.venv-generate-application/
__pycache__/
bin/.demo-catalogue.json
design_docs/source/partials/_local_demo_case_links.html.erb
design_docs/source/partials/_previous_registration_examples.html.erb
bin/templates/~$*
